$colorMain:red;
$size:100px;
$bgHeader:rgb(4, 95, 4);
$bgGameBox:rgb(51, 158, 51);
$bgBoard:rgb(17, 199, 17);
$bgSnake:rgb(32, 32, 170);
$bgLight:white;
$textColorLight:black;
$bgDark:rgb(22, 22, 129);
$textColorDark:white;
